$wine:#672F2F;
$wineActive:#753636;
$dark:#2B2727;
$background:#F7F6F5;


* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    max-width: 100%;
}

body{
   margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: $background;
}

header {
    z-index: 9;
    gap: 5px;
    background-color: $dark;
    color: white;
    position:sticky;
    top: 0;
    width: 100%;
    grid-area: header;
    a {
        color: white;
        text-decoration: none;
        font-size: medium;
        &:hover {
            color: white;
          }
      }
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, 
.navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
  display: flex;
  gap: 12px;
  justify-content: center;
}

.active {
    color: white;
    }

.logo {
  display: flex;
  align-items: center;
  margin-left: 4px;
  a{
    font-family: 'Bebas Neue', cursive;
    font-size:xx-large;
    font-weight: bold;
}
}

main {
    grid-area: main;
  }

footer {
    font-size:small;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    padding: 3%;
    background-color: $dark;
    color: white;
    grid-area: footer;
}

.footerText {
    font-size: small;
    margin-bottom: 0.5%;
}

.footerIcons a{
    color: white;
    text-decoration: none;
    &:hover {
        color: $wine;
      }
}

h1 {
    font-size: xx-large;
    margin: 0 2%;
    padding: 1% 0 0.3% 0;
    border-bottom: 1.8px solid $wine;
}
  
p {
    font-size: large;
}

.btn-primary{
    border-color: $wine;
    background-color: $wine;
    &:hover {
    background-color: $wineActive;
    border-color: $wineActive;
  }
}
  

.grid {
    display: grid;
    grid-template-areas:
    "header" "header" "header"
    "main"   "main"   "main"
    "main"   "main"   "main"
    "footer" "footer" "footer"
    ;
}
  