$wine:#672F2F;
$wineActive:#753636;
$dark:#2B2727;
$background:#F7F6F5;


* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    max-width: 100%;
}

body{
   margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: $background;
}

header {
    z-index: 9;
    gap: 5px;
    background-color: $dark;
    color: white;
    position:sticky;
    top: 0;
    width: 100%;
    grid-area: header;
    a {
        color: white;
        text-decoration: none;
        font-size: medium;
        &:hover {
            color: white;
          }
      }
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, 
.navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
  display: flex;
  gap: 12px;
  justify-content: center;
}

.active {
    color: white;
    }

.logo {
  display: flex;
  align-items: center;
  margin-left: 4px;
  a{
    font-family: 'Bebas Neue', cursive;
    font-size:xx-large;
    font-weight: bold;
}
}

main {
    grid-area: main;
  }

footer {
    font-size:small;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    padding: 3%;
    background-color: $dark;
    color: white;
    grid-area: footer;
}

.footerText {
    font-size: small;
    margin-bottom: 0.5%;
}

.footerIcons a{
    color: white;
    text-decoration: none;
    &:hover {
        color: $wine;
      }
}

h1 {
    font-size: xx-large;
    margin: 0 2%;
    padding: 1% 0 0.3% 0;
    border-bottom: 1.8px solid $wine;
}
  
p {
    font-size: large;
}

.btn-primary{
    border-color: $wine;
    background-color: $wine;
    &:hover {
    background-color: $wineActive;
    border-color: $wineActive;
  }
}
  

.grid {
    display: grid;
    grid-template-areas:
    "header" "header" "header"
    "main"   "main"   "main"
    "main"   "main"   "main"
    "footer" "footer" "footer"
    ;
}

.cartOverlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(78, 78, 78, 0.5);
    z-index: 10;
    visibility: hidden;
  }

  .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 11;
    background: rgb(246 243 239);
    padding: 1.5rem;
    transition: all 0.5s ease-in-out;
    transform: translateX(100%);
    h2 {
        margin-bottom: 2rem;
      }
  }

  .showCart {
    transform: translateX(0%);
  }

  .transparentBcg {
    visibility: visible;
  }

  @media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
  }
  
  .cartHeader {
    display: flex;
    gap: 20%;
  }

  .closeCart {
    font-size: 1.7rem;
    cursor: pointer;
  }

  .cartItem {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
    img {
        width: 75px;
        height: 75px;
      }
    h4 {
        font-size: medium;
      }
    h5 {
        font-size: small;
        margin: 0.5rem 0;
      }
  }

  .opcionesCarrito{
    display: flex;
    align-items: baseline;
    p{
        font-size: small;
        margin-right: 7px;
        margin-left: 7px;
    }
  }

  .bi-trash3 {
    font-size: large;
    margin-left: 1.5rem;
    color: grey;
    cursor: pointer;
    &:hover{
      color: $wine;
    }
  }

  .bi-plus-lg,
  .bi-dash-lg {
    cursor: pointer;
    font-size: small;
  }

  .cartFooter {
    margin-top: 2rem;

    h3 {
        text-transform: capitalize;
        margin-bottom: 1rem;
      }
  }

  .innerButtons{
    display: flex;
    justify-content: space-around;
  }

  .innerButton{
    border-radius: 4px;
    background-color: $wine;
    border: none;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    padding: 14px;
    width: auto;
     &:hover {
        background-color: $wineActive;
     }
  }


  