$wine:#672F2F;
$wineActive:#753636;

#opcionesProductos {
  display: flex;
  align-items: baseline;
}

#filtrar {
  margin-left: 25px;
    font-size: small;
    cursor: pointer;
  i{
    font-size: small;
  }
}


#ordenar {
  justify-content: flex-end;
  display:flex;
  align-items: baseline;
  margin-left: auto;
  margin-right: 25px;
  margin-top: 5px;
  p{
    font-size: small;
  }
  .sort{
    margin-left: 4px;
  }
}

.filterOverlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(78, 78, 78, 0.5);
  z-index: 10;
  visibility: hidden;
}

.filter {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 11;
  background: rgb(246 243 239);
  padding: 1.5rem;
  transition: all 0.5s ease-in-out;
  transform: translateX(100%);
  h2 {
      margin-bottom: 2rem;
    }
}

.showFilter {
  transform: translateX(0%);
}

.transparentBcg {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .filter {
    width: 30vw;
    min-width: 450px;
  }
}

.filterHeader {
  display: flex;
  gap: 36%;
}

.closeFilter {
  font-size: 1.7rem;
  cursor: pointer;
}

.filterFooter {
  margin-top: 2rem;
}

.innerButtonsFilter{
  display: flex;
  justify-content: space-around;
}

.innerButtonFilter{
  border-radius: 4px;
  background-color: $wine;
  border: none;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  padding: 14px 38px;
  width: auto;
   &:hover {
      background-color: $wineActive;
   }
}



#products {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2% 0;
}
  
.productCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    p {
        margin-bottom: 0;
      }
    img {
        width: 100%;
      }
    h2 {
        font-size: x-large;
        padding: 1%;
    }
    button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: $wine;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        font-family: 'Josefin Sans', sans-serif;;
        &:hover {  
            background-color: $wineActive;
          }
    }
}

$styles:(
  gris: #7d7d7d,
  font: 20px,
  relleno: 1%
);

.price {
    color: map-get($styles, gris);
    font-size: map-get($styles, font);
    padding: map-get($styles, relleno);
  }
  

.cart:hover .bi-cart-fill::before{
    content: "\F239";
}
  
  
.img {
   width: 100%;
   height: 460px;
}